body {
    margin: 0;
    background-color: #121212;
}
.player {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.player__controls {
    width: 100%;
}
.player__video {
    cursor: pointer;
    display: block;
    width: 100%;
    height: auto;
}
.player__button {
    cursor: pointer;
}
.progress {
    cursor: pointer;
}
.progress__filled {
    height: 10px;
    background-color: brown;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}
.progress__filled:hover::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: -2px;
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
input[name='volume'] {
    -webkit-appearance: none;
    height: 5px;
    background: linear-gradient(90deg, #FFFFFF 25%, #5E5E5E 25%);
    outline: none;
    opacity: 0.6s;
    /* -webkit-transition: 0.2s;
    transition: opacity 0.2s; */
    border-radius: 10px;
    /* box-shadow: 0px 1px 10px 1px white; */
}
input[name='volume']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
input[name='volume']::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}


.volume-container {
    cursor: pointer;
    margin: 20px 0;
    height: 5px;
    width: 130px;
    background-color: #5E5E5E;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
}
.volume-container:hover::after {
    content: '';
    background-color: #FFFFFF;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 6px);
}
.volume-slider {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.volume-container:hover .volume-slider {
    background-color: #1ED760;
}